

<title>Bullshit Generator</title>


<div style="background-color:LightCyan !important" class="jumbotron vertical-center">
<div class="container">
		
		<center>
			<h2 style="font-size:280%; padding: 20px">the bullshit generator</h2>
			<button onclick="output(verbs, adjectives, nouns)" class="btn btn-success btn-lg" style="margin: 20px">Generate Bullshit</button>
		</center>

		<center><h2 id="bshere"><h2></center>
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<p id="bsheretoo"></p>
		</div>
</div>
	
</div>






<script>

var verbs = <%- JSON.stringify(verbs) %>
var adjectives = <%- JSON.stringify(adjectives) %>
var nouns = <%- JSON.stringify(nouns) %>
var examples = <%- JSON.stringify(examples) %>

function output(array1, array2, array3, array4){
	var randverb = array1[Math.floor(Math.random() * array1.length)];
	var randadj = array2[Math.floor(Math.random() * array2.length)];
	var randnoun = array3[Math.floor(Math.random() * array3.length)];
	var bsphrase = randverb.concat(" ",randadj," ",randnoun);

	
	document.getElementById("bshere").innerHTML = bsphrase;
	var randexample = examples[Math.floor(Math.random() * examples.length)];
	var bsexample = randexample.replace("TKTK", bsphrase);
	document.getElementById("bsheretoo").innerHTML = "<strong>e.g. </strong>" + bsexample;
}

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
