

    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= name %></p>
	  <script data-main="scripts/main" src="scripts/require.js"></script>
	<script src = "/javascripts/bsbundle.js"></script>
	<script>
		function output(phrase) {
       			document.write(phrase);
		}

		bsbundle(output);
	</script>



